---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="about">
  <div class="pb-12 mt-5">
    <h1 class="text-4xl font-bold mb-6">About Me</h1>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Professional Experience</h2>
      <p>
        Freelance Full-Stack Developer with over 8 years of experience
        specializing in web applications, API development, and bot automation.
        Experienced in PHP, Node.js, Laravel, and JavaScript frameworks.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Education</h2>
      <p>
        Diplom in Pedagogy with a specialization in Computer Science from
        Kharkiv National Pedagogical University (2003–2008).
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Languages</h2>
      <ul class="list-disc list-inside">
        <li>German (B2, certified)</li>
        <li>English (B1, good reading and basic communication skills)</li>
        <li>Ukrainian (native)</li>
        <li>Russian (fluent)</li>
      </ul>
    </section>
  </div>
</BaseLayout>
