---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="contact">
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold mb-6">Contact Me</h1>
    <p class="text-lg mb-6">
      Feel free to reach out to me via any of the following:
    </p>

    <ul class="space-y-4 text-lg">
      <li>
        <strong>Email:</strong>
        <a
          href="mailto:demchenko.anatoliy.1@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          demchenko.anatoliy.1@gmail.com
        </a>
      </li>
      <li>
        <strong>GitHub:</strong>
        <a
          href="https://github.com/freelancevip"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          github.com/freelancevip
        </a>
      </li>
      <li>
        <strong>LinkedIn:</strong>
        <a
          href="https://www.linkedin.com/in/anatoliy-demchenko"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          linkedin.com/in/anatoliy-demchenko
        </a>
      </li>
      <li>
        <strong>Telegram:</strong>
        <a
          href="https://t.me/freelancevip"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          @freelancevip
        </a>
      </li>
    </ul>

    <div class="mt-8">
      <a
        href="mailto:demchenko.anatoliy.1@gmail.com"
        class="btn"
        target="_blank"
      >
        Send Email
      </a>
    </div>
  </div>
</BaseLayout>
